In [1]:
!pip3 install pandas 
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:

df = pd.read_json('../data/jobs.json')
# print(df)

In [6]:
df['conLicense'].value_counts().loc[lambda x : x>2].to_frame()

         conLicense
82770.0          18
58375.0          10
70592.0           8
76082.0           8
32658.0           7
...             ...
60859.0           3
38964.0           3
21890.0           3
58090.0           3
16393.0           3

[62 rows x 1 columns]

In [37]:
# df.head()
# df.loc[0,:]
# titles = list(df)
# print(titles)
# df.columns.values
# df.groupby(['owner_sphone__']).count() #counts all duplicates of phone numbers
df_pivot = df.pivot_table(columns=['owner_sphone__'], aggfunc='size')
owner_numbers=df_pivot.reindex(df.pivot_table(columns=['owner_sphone__'], aggfunc='size').sort_values(ascending=False).index)
owner_numbers.unique()

# tabled_numbers=df['owner_sphone__'].value_counts().loc[lambda x : x>1].to_frame()

df['owner_sphone__'].value_counts().loc[lambda x : x>2].to_frame()

            owner_sphone__
7184728000               9
7188536734               7
2128681234               7
7184928000               6
9733974814               6
7185996775               6
9176130730               6
5164727880               6
2123264055               5
2128968600               5
2128546031               5
7188312457               5
2123523500               5
2124811122               5
7183924921               5
2122330638               5
2129211087               5
7184549614               4
7186280500               4
6465653937               4
2128359040               4
2127514200               4
7184961449               4
7186681200               4
7182174800               4
7185761345               3
2124900666               3
2125630310               3
9172543180               3
9178385399               3
2123377200               3
9175094888               3
2126839292               3
2123195000               3
7183652900               3
7327411423               3
5167309303               3
2019692307               3
7184728569               3
6319693335               3
2125545825               3
2128543992               3
9146376200               3
2129661665               3
7182298440               3
2128947000               3
2123554900               3
7188831555               3
2128077170               3
6462187081               3
2128417737               3
2123121448               3